%li
  %i.icon-plus
  %a{:href => "/nodes/5"}
    {{for.title}}
  %a{:href => "#"}
    %i.icon-minus-sign.everyones_topicplus5{:style => "display:none;"}
  %a{"data-remote" => "", :href => "/question_arguments/5?original=9&path=everyones_topicplus"}
    %i.icon-plus-sign.everyones_topicplus5
  %a.show-node-through-link{"data-global-node-to-id" => "5", "data-type" => "Negative"}
    %i.icon-minus{:alt => "Show create opposing point form"}
  %a.hide-node-through-link.hidden{"data-global-node-to-id" => "5", "data-type" => "Negative"}
    %i.icon-minus{:alt => "Hide create opposing point form"}
  %a.show-node-through-link{"data-global-node-to-id" => "5", "data-type" => "Positive"}
    %i.icon-plus{:alt => "Show create supporting point form"}
  %a.hide-node-through-link.hidden{"data-global-node-to-id" => "5", "data-type" => "Positive"}
    %i.icon-plus{:alt => "Hide create supporting point form"}
%div
  %ul.positive
    %div{"ng:repeat" => "point in for.for"}
      %div{'ng:include'=> "", :src => "'/assets/angular_files/templates/for_point.html'"}
  %ul.negative
    %div{"ng:repeat" => "point in for.against"}
      %div{'ng:include'=> "", :src => "'/assets/angular_files/templates/against_point.html'"}
