.select-form
  =form_tag nodes_path, :method => :get, :html => {:class => 'navbar-form'} do
    =select :view_configuration, :nodes_question, @questions, :selected => (@node_question ? @node_question.try(:id) : nil), :class => "span2", :id => "question"
.new-form.hidden
  =form_for @new_question, :html => {:class => 'navbar-form'} do |g|
    =g.text_field :name, :class => "span2"
    =g.submit "Add Question", :class => "span2"
