<h1>New node</h1>

<form id="new-node" name="node">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Node" />
  </div>

</form>

<a href="#/index">Back</a>