-question ||=nil
- if question
  - question.concluding_nodes.each do |node| 
    %h3
      =link_to node.title, node_path(node.global_node)
      =render :partial => 'nodes/delete_form', :locals => {:node => node.global_node}
    = render :partial => 'arguments/show', :locals => {:path_method => :question_argument_path, :node => node, :previous => previous, :original => node.id}
