#accordion2.accordion
  - nodes.each do |node|
    .accordion-group
      %div{:class => "accordion-heading-override #{@node == node ? "selected" : nil}"}
        %a.accordion-toggle-two{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse#{node.id}"}
          %i.icon-plus-sign
        %a{:href => node_path(node), :class => 'accordion-toggle-override'}
          =node.title
          %i.icon-play.right
      .accordion-body.collapse{:style => "height: 0px;", :id => "collapse#{node.id}"}
        .accordion-inner
          &nbsp;
          NODE BODY
          - if current_user
            - if @node_question
              =render :partial => 'nodes/edit_form', :locals => {:node => node}
            =render :partial => 'nodes/delete_form', :locals => {:node => node}
= paginate nodes, :param_name => :nodes_page 
