%ul.tabs
  %li.active
    %a{:href =>"#nodes"}
      Nodes
      %span
  %li
    %a{:href => "#visualise"} 
      Visualise
      %span
.pill-content
  #nodes.active
    .row.show-grid
      .span4
        %table
          - @all_nodes.each do |node|
            %tr
              %td
                %ul.unstyled
                  %li.clearfix
                    %h4
                      =link_to node.title, node, :class => 'load' 
                  %li.clearfix
                    =node.text
                    =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
        = link_to 'New Node', new_node_path, :class => 'load' 
      .span12
        .row.show-grid
          .span8.main_content
            %h1 Editing Node
            = render 'form'
            = link_to 'Back', nodes_path
          .span4.right_content
            = render 'links', :nodes=>@nodes
  #visualise
