.row.show-grid
  .span4
    %table
      %tr
        %ul.tabs
          %li.dropdown{"data-dropdown" => "dropdown"}
            %a.dropdown-toggle{:href => "#"} Order By 
            %ul.dropdown-menu
              %li
                %a{:href => nodes_path(:order => "strongest")} Strongest
              %li
                %a{:href => nodes_path(:order => "weakest")} Weakest
              %li.divider
              %li
                %a{:href => nodes_path(:order => "newest")} Newest
              %li
                %a{:href => nodes_path(:order => "oldest")} Oldest
        -if @user
          = link_to 'New Node', new_node_path, :class => 'load' 
      - @nodes.each do |node|
        %tr
          %td
            %ul.unstyled
              %li.clearfix
                %strong
                  =link_to node.title, node, :class => 'load' 
              %li.clearfix
                - if @user
                  =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
                  = link_to 'Edit text', edit_node_path(node), :class => "load"
    - if @user
      = link_to 'New Node', new_node_path, :class => 'load' 
  .span12
    .row.show-grid
      .span6.main_content
        %h2
          Explanatory Text
      .span6.right_content
