.row.show-grid
  .span4
    %table
      - @nodes.each do |node|
        %tr
          %td
            %ul.unstyled
              %li.clearfix
                %strong
                  =link_to node.title, node, :class => 'load' 
              %li.clearfix
                - if @user
                  =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
    - if @user
      = link_to 'New Node', new_node_path, :class => 'load' 
  .span12
    .row.show-grid
      .span6.main_content
        %h2
          Explanatory Text
      .span6.right_content
