.row.show-grid{:title => "One-third and two-thirds layout"}
  .span4
    %table
      - @nodes.each do |node|
        %tr
          %td
            %ul.unstyled
              %li.clearfix
                %h4
                  =node.title
              %li.clearfix
                =node.text
                =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
    = link_to 'New Node', "#", :class => 'load_new' 
  .span12.main_content
    %h2
      Explanatory Text
