.span9
  .row-fluid
    .span8.main_content
      .tabbable
        %ul.nav.nav-pills.right
          - unless @question.name == 'All'
            %li#menu2.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu2"}
                Topic 
                %b.caret
              %ul.dropdown-menu
                - if current_user
                  %li
                    %a{"data-toggle" => "tab", "data-target" => "#my_topic", :href => user_arguments_path(:global_id => @question.id, :path => "my_topic"), "data-remote" => true} My Topic
                %li.divider
                  %li
                    %a{"data-toggle" => "tab", "data-target" => "#everyones_topic", :href => global_arguments_path(:global_id => @question.id, :path => "everyones_topic"), "data-remote" => true} Everyone's topic
                %li.divider
                  - User.all.each do |user|
                    %li
                      %a{"data-toggle" => "tab", "data-target" => "#other_user_topic", :href => user_arguments_path(:global_id => @question.id, :user_id => user.id, :path => "other_user_topic"), "data-remote" => true}= user.name 
        .tab-content
          -if current_user
            #my_topic.tab-pane
              Loading...
          #other_user_topic.tab-pane
            Loading...
          #everyones_topic{:class => "tab-pane #{current_user ? '' : 'active'}"}
            = render(:partial => 'global_arguments/index', :locals => {:previous => "everyones_topic", :question => @question})
        
    .span4.right_content
