.pill-content
  #nodes.active
    .row.show-grid
      .span4
        %table
          - @all_nodes.each do |node|
            %tr
              %td
                %ul.unstyled
                  %li.clearfix
                    %strong
                      =link_to node.title, node, :class => 'load' 
                  %li.clearfix
                    =link_to 'Destroy', node, :confirm => 'Are you sure?', :method => :delete, :class => 'right'
        = link_to 'New Node', new_node_path, :class => 'load' 
      .span12
        .row.show-grid
          .span6.main_content
            %h1 New Node
            = render 'new_form'
            = link_to 'Back', nodes_path
          .span6.right_content
            = render 'new_links', :nodes=>@nodes
  #visualise

