.tabbable
  .row-fluid
    .span9
      %h2= @node_question ? @node_question.name : "All"
    .span3
      %ul.nav.nav-pills.right
        - if @argument_question
          %li#menu2.dropdown.active
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu2"}
              Topic 
              %b.caret
            %ul.dropdown-menu
              - if current_user
                %li.arg-option
                  %a{"data-toggle" => "tab", "data-target" => "#my_topic", :href => user_arguments_path(:path => "my_topic"), "data-remote" => true} My Topic
              %li.divider
                %li.arg-option.active
                  %a{"data-toggle" => "tab", "data-target" => "#everyones_topic", :href => question_arguments_path(:path => "everyones_topic"), "data-remote" => true} Everyone's topic
              %li.divider
                - User.all.each do |user|
                  %li.arg-option
                    %a{"data-toggle" => "tab", "data-target" => "#other_user_topic", :href => user_arguments_path(:user_id => user.id, :path => "other_user_topic"), "data-remote" => true}= user.name 
  - if params[:controller] == "questions" && current_user
    .row-fluid
      .span12
        =render :partial => "nodes/new_conclusion_form"
  .tab-content
    -if current_user
      #my_topic.tab-pane
        Loading...
    #other_user_topic.tab-pane
      Loading...
    #everyones_topic.tab-pane.active
      = render(:partial => 'question_arguments/index', :locals => {:previous => "everyones_topic", :question => @argument_question})
