=form_tag nodes_path, :method=>'get', :id=>'limit_order', :class => 'navbar-form' do
  = select_tag(:question, options_for_select(@questions, :selected=>(@question.id if @question)), {:class=>"span2", :id=>"question"})

  
