=form_tag nodes_path, :method=>'get', :id=>'limit_order', :class => 'navbar-form' do
  = select_tag(:question, options_for_select(@questions, :selected=>@question.id), {:class=>"span2", :id=>"question"})
  //= select_tag(:order, options_for_select([['Oldest Nodes', 'older'],['Newest Nodes', 'newer'],['Strongest Nodes', 'strongest'],['Weakest Nodes', 'weakest']], :selected=>@order), {:class=>"span2", :id=>"order"})

  
