.topbar-wrapper{:style => "z-index: 5;"}
  .topbar{"data-dropdown" => "dropdown"}
    .topbar-inner
      .container
        %h3
          %a{:href => "#"} Organisation Name
        %ul.nav
          %li
            %a{:href => "#", :class => 'app'} Link
          %li
            %a{:href => "#", :class => 'app'} Link
          %li
            %a{:href => "#", :class => 'app'} Link
          %li
            %a{:href => "#", :class => 'app'} Link
          %li
            %a{:href => "#", :class => 'app'} Link
          %li.dropdown
            %a.dropdown-toggle{:href => "#"} More Apps
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Secondary link
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                %a{:href => "#"} Another link
        -#%form.pull-left{:action => ""}
          -#%input{:placeholder => "Search", :type => "text"}
        %h3.active
          %a{:href => "/", :class=>"right"}Centre

- if user_signed_in?
  %li
    = link_to('Logout', destroy_user_session_path, :method=>'delete')
- else
  %li
    = link_to('Login', new_user_session_path)
- if user_signed_in?
  %li
    = link_to('Edit account', edit_user_registration_path)
- else
  %li
    = link_to('Sign up', new_user_registration_path)

