-argument_question ||=nil
- if argument_question
  %strong= "...for #{argument_user.name}"
  %div{:class => "user_argument", :id => argument_user.id}
  - argument_user.concluding_nodes(argument_question).each do |node| 
    %h3
      =link_to node.title, node_path(node.global_node)
    = render :partial => 'arguments/show', :locals => {:path_method => :user_argument_path, :node => node, :previous => previous, :original => node.id, :argument_question => argument_question, :argument_user => argument_user}
