- unless question.name == 'All'
  - user.concluding_nodes(question).each do |node| 
    %h3= node.title
    = render :partial => 'user_arguments/show', :locals => {:node => node, :previous => previous, :original => node.id}
