/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require jquery.ajaxLoader.css
*/ 
header nav ul {
  list-style: none;
  margin: 0 0 .5em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.right{
  float: right !important; 
}
.checkboxes{
  overflow: auto;
  border: 1px solid #ccc;
  max-height:600px;
  max-width:340px;
}
.hidden {
  display:none;
}
.center {
  width: 330px;
  margin:0px auto;
}
.width_80{
  width:80;
}
.margin_100{
  margin-left: 100px;
}
.height_300{
  height:300px;
}
/*
.accordion {
    margin-bottom: 18px;
}
.accordion-group {
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;
}
.accordion-heading {
    border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
    display: inline;
    padding: 8px 15px;
}
.accordion-inner {
    border-top: 1px solid #E5E5E5;
    padding: 9px 15px;
}
*/
.accordion-toggle-override{
    display: inline;
}
.accordion-heading-override{
    padding: 8px 15px;
}
